<div class='charge' id='still-alive'>
  <h2>
    We are exec.io
  </h2>
  <p>
    Exec.io is a new company with a simple goal, to build excellent online applications to help your business flourish! Right now we have the exceptional online monitoring application StillAlive within our company umbrella, and will bring more apps into the fold as we launch them.
  </p>
  <%= link_to(image_tag('stillalive-logo.png'), "https://stillalive.com", :class => 'product-link') %>
  <h3>
    So we charged you, how come?
  </h3>
  <p>
    This will be a recurring monthly payment from the use of our
    <%= link_to('StillAlive.com', "https://stillalive.com", :alt => "StillAlive.com") %>
    web service.  Someone in your organisation, perhaps in the IT department, or the
    folks that run your website have signed you up for our service to make sure your
    website is online all the time.
  </p>
  <h3>
    Can I get an invoice for these charges?
  </h3>
  <p>
    We automatically send out an invoice to the email address registered as the account
    holder.  You can get a copy of the invoice from the person who has signed up for the
    service.  You can also ask them to change the email address we send invoices to
    another address if you like.
  </p>
  <h3>
    What if I can't find the person in my organisation?
  </h3>
  <p>
    Feel free to contact us at <a href="mailto:accounts@exec.io">accounts@exec.io</a> and let us know your company name,
    your website name, the name on the credit card and the last 4 digits of card charged
    and we will help you locate who signed you up for StillAlive.
  </p>
  <h3>
    Can I get a refund?
  </h3>
  <p>
    Not usually.  The StillAlive service is paid monthly in advance.  You can cancel
    at any time though.
  </p>
  <h3>
    How can I cancel these charges?
  </h3>
  <p>
    Again, this can be done through the <%= link_to('StillAlive.com', "https://stillalive.com", :alt => "StillAlive.com") %>
    website.  Once we locate who signed you up it is easy to cancel if you still wish to.
  </p>
</div>