<div class="carousel"> <!-- BEGIN CAROUSEL -->
   
  <div class="slides">
    <% 2.times do %>
    <div>
      <a href="https://stillalive.com">
        <%= image_tag('gallery/stillalive.png', :alt => "StillAlive") %>
      </a>            
    </div>
    <div>
      <a href="https://statushub.io/">
        <%= image_tag('gallery/statushub.png', :alt => "StatusHub") %>
      </a>
    </div>
    <div>
      <a href="http://tellthemwhen.com/">
        <%= image_tag('gallery/tellthemwhen.png', :alt => "TellThemWhen") %>
      </a>
    </div>
    <% end %>       
  </div>
  <div class="description">
    <% 2.times do %>
      <div>
        <p>Advanced 24/7 feature testing for your web applications! Ensure your site is Still Alive!</p>
      </div>
      <div>
        <p>Bulletproof hosted status pages for your web applications! Create beautiful, customised status pages to alert your users when your site goes offline.</p>
      </div>
      <div>
        <p>Timezones made simple! Create pages to coordinate people worldwide!</p>
      </div>
    <% end %>
  </div>
       
</div>