<p class='description'>
  Exec.io is a new company with a simple goal, to build excellent online applications to help your business flourish! Watch this space for our new, exciting offerings!
</p>
<article class='product' id="still-alive">
  <a href='https://stillalive.com'>
    <p>
      Advanced, 24/7 feature testing for your web applications. Ensure your site is still alive! 
    </p>
  </a>
</article>
<article class='product last' id="coming-soon">
  <h2>Coming soon!</h2>
</article>