<section id='products'>
  <article class='product' id="tell-them-when">
    <a href='http://tellthemwhen.com'>
      <p>
        Timezones made simple, create pages to coordinate people across the world.
      </p>
    </a>
  </article>
  <article class='product' id="still-alive">
    <a href='https://stillalive.com'>
      <p>
        Advanced, 24/7 feature testing for your web applications. Ensure your site is still alive! 
      </p>
    </a>
  </article>
  <article class='product last' id="coming-soon">
    <h2>Coming soon!</h2>
  </article>
</section>