<section id="about-envisage" class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id='about-envisage-text' class="col-md-6 col-sm-9 col-xs-12">

        <%= image_tag "envisage-logo.png", :id => 'envisage-logo' %>

        <div class='text-block blue'>
          <p>
            Managing by statistics is the proven method to increase productivity, revenue and boom
            any organisation.
          </p>
          <o>
            <%= link_to "Envisage", "https://envisage.exec.io/" %> is the easiest way to
            collate and represent your data online. You can combine and compare the numbers from all
            of your web-based and offline services into one easy to use application, using our rich
            graphing tools.
          </p>
          <p>
            Once created, share your graphs with professional looking templates that can be customised with your brand imagery and colours. Add value to your services easily and cheaply!
          </p>
          <p>
            The latest in secure technologies keeps your data safe and private.
          </p>
          <p>
            You can <%= link_to "sign up free here", "https://envisage.exec.io/users/sign_up" %> for the first month, so give us a shot today!
          </p>

        </div>
      </article>
      <div class='col-md-6 image-container'>
        <%= image_tag "envisage-imac.png", :class => 'screenshot' %>
      </div>
    </div>
  </div>
  <a href="section#about-pp" data-link="about-pp" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow blue"></a>
</section>
