<section id="about-pp" class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id='about-pp-text' class="col-md-6 col-sm-9 col-xs-12">
        <h1 class='text-block green'><%= t('welcome.show.prosperity_planner.panel_title') %></h1>
        <div class='text-block green'>
          <%= t('welcome.show.prosperity_planner.panel_html',
          { :wise_url => 'http://www.wise.org',
            :prosperity_planner_app_url => 'https://www.prosperityplanner.net/' } ) %>
        </div>
      </article>
    </div>
  </div>
  <a href="section#about-us" data-link="about-us" aria-hidden="true" data-icon="&#xe602;" class="scroll-link nav-arrow dark-orange"></a>
</section>
