<section id="about-enlight" class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id='about-enlight-text' class="col-md-6 col-sm-9 col-xs-12">

        <div class='text-block blue'>
          <p>
            Online Learning Management Systems are not producing the results needed. International surveys show an industry wide online completion rate of 3-4% of all students that start.
          </p>
          <p>
            Enlight delivers a completion rate of more than 60% across tens of thousands of enrolments.
          </p>
          <p>
            <%= link_to "Enlight", "https://enlight.training/" %> provides industry proven tools to create interactive online courses that encourage students to actually apply the data being taught.
          </p>
          <p>
            The system provides a full dashboard and administrative reporting system as well as a  full course creation and editing platform allowing you to manage your team members, students and courses yourself.
          </p>
          <p>
            You can <%= link_to "sign up free here", "https://enlight.training/users/sign_up" %>!
          </p>

        </div>
      </article>
      <div class='col-md-6 image-container'>
        <%= image_tag "enlight-image.png", :class => 'screenshot' %>
      </div>
    </div>
  </div>
</section>
