<section id='locations' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <article id="locations-text" class='col-md-7'>
        <h1 class='text-block'><%= t('welcome.show.locations.panel_title') %></h1>
        <div class='text-block orange'>
          <%= t('welcome.show.locations.panel_html') %>
        </div>
      </article>
    </div>
  </div>

  <a href="section#splash" data-link="splash" aria-hidden="true" data-icon="&#xe600;" class="scroll-link nav-arrow dark blue"></a>
</section>
