<section id='splash' class='home-panel'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <%= image_tag('logo.jpg', :id => "splash-logo") %>
        <h1 class='title text-block'>
          <%= t('welcome.show.home.quote') %>
        </h1>
      </div>
    </div>
  </div>
</section>
