@import "compass";

body {
  margin: 0;
  font-family: "Museo Sans", helvetica, sans-serif;
  font-size: 62.5%;
  color: #333;
}

div.container {
  width: 500px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: inherit;
}

h1.logo {
  color: transparent;
  background: transparent image-url('logo.png') no-repeat 50% 50%;
  height: 60px;
  font-size: 4em;
  text-align: center;
  margin: 50px 0 30px;
  a {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 190px;
  }
}

h2 {
  font-size: 2.4em;
  line-height: 1.2em;
}

h3 {
  font-size: 2em;
  line-height: 1.2em;
}

p {
  font-size: 1.5em;
  line-height: 1.2em;
}

p.description {
  text-align: center;
  margin: 30px 0 30px;
}

article.product {
  @include border-radius(10px);
  @include clearfix;
  width: 214px; // 240px - border, padding
  border: 3px solid #808080;
  color: #808080;
  padding: 10px;
  margin-right: 20px;
  float: left;
  height: 200px;
  a {
    padding: 140px 0 10px;
    display: block;
    text-decoration: none;
  }
  &.last {
    margin-right: 0;
  }
  &#still-alive {
    background: rgb(168,208,209) image-url('stillalive-logo.png') no-repeat 50% 10px;
    border-color: rgb(51,124,128);
    p {
      text-align: center;
      color: rgb(51,124,128);
    }
  }
  &#coming-soon {
    background: #e6e6e6 image-url('comingsoon-logo.png') no-repeat 50% 25px;
    h2 {
      font-size: 3em;
      text-align: center;
      margin: 130px 0 10px;
      color: #ccc;
    }
  }
}

footer {
  clear: both;
  float: left;
  margin: 40px 0;
  padding-top: 10px;
  border-top: 1px solid #333;
  .column {
    font-size: .9em;
    width: 240px;
    float: left;
    margin-right: 20px;
    p {
      margin: 10px;
    }
    strong {
      display: block;
    }
    &.last {
      margin-right: 0;
    }
  }
}

// Charge Page

div.charge {
  h2, h3 {
    margin: 20px 0 3px;
  }
  a.product-link {
    @include transition(opacity .3s ease-out);
    display: block;
    margin: 10px auto;
    background-color: rgb(168,208,209);
    width: 123px;
    padding: 10px;
    border: 3px solid rgb(51,124,128);
    @include border-radius(10px);
  }
}