@import "compass"

$light-blue: #126AAE
$dark-blue: #0A3456
$light-green: #588F40
$dark-green: #245028
$light-orange: #EE9622
$dark-orange: #A15724
$light-red: #CB214F
$dark-red: #5B103B

$bg-color: #efefed
$twitter-blue: #2BA9E1

$light: 'HelveticaNeueW01-45Ligh'
$roman: 'HelveticaNeueW01-55Roma'
$medium: 'HelveticaNeueW01-65Medi'
$bold: 'HelveticaNeueW01-75Bold'
$mediumCondensed: 'HelveticaNeueW01-67MdCn 692710'
$boldCondensed: 'HelveticaNeueW01-77BdCn 692722'
$heavyCondensed: 'HelveticaNeueW01-87HvCn 692734'


html
  background-color: $bg-color

body
  background-color: transparent
  font-family: $roman
  background: black image-url('earth.jpg') no-repeat 50% top
  background-attachment: fixed
  &.alpha, &.beta, &.gamma
    background-image: none


=colorful-links($dark-color, $light-color)
  color: white
  background-color: rgba(0,0,0,.75)
  border-bottom: 3px solid $light-color
  text-decoration: none
  +transition(all 50ms linear)
  &:hover, &:active, &:focus
    background-color: $dark-color
    color: white
    border-bottom-width: 3px

a.black
  +colorful-links(#333, #818181)  
a.blue
  +colorful-links($dark-blue, $light-blue)  
a.red
  +colorful-links($dark-red, $light-red)
a.orange
  +colorful-links($dark-orange, $light-orange)
a.green
  +colorful-links($dark-green, $light-green)
a.disabled
  color: #818181
  border-bottom: 1px solid #ccc !important
  text-decoration: none
  cursor: default


h1, h2, h3, h4, h5, h6
  // font-family: "Lato"
  font-family: $bold
  // font-weight: "700"
h1, h2, h3
  // font-weight: 200



header#main-nav
  position: fixed
  top: 0px
  right: 20px
  z-index: 200
  nav#logo a
    background: transparent image-url('logo.png') no-repeat left 50%
    background-size: auto 50px
    height: 50px
    color: transparent
    // display: block
    display: none
    float: left
    width: 167px

  nav#links
    float: right
    font-size: 1.1em
    a
      padding: 10px 5px 5px
      margin-left: 5px
      font-weight: 200
      display: block
      float: left
      font-family: $mediumCondensed
      
      &:hover, &:active, &:focus
        border-bottom-width: 5px

section.home-panel
  padding-top: 50px
  // background-size: auto 100%
  .white-block
    padding: 10px
    background-color: rgba(255,255,255,.85)
    margin: 0 0 5px
  &#splash
    text-align: center
    padding-top: 180px
    background-color: transparent
    #splash-logo
      width: 300px
      max-width: 100%
      margin: 0 0 5px
    h2, p
      margin: 0 auto 5px
      line-height: 1.15em
      color: #333
    h2
      max-width: 733px
    p
      max-width: 300px

  &#about-pp
    background: image-url('arrows.png') no-repeat left bottom
    padding-top: 140px
    body.alpha &
      background-image: image-url('arrows.png'), image-url('earth.jpg')
      background-position: left bottom, 50% top
    img#pp-example
      width: 100%
    img#device-icons
      float: left
      clear: left
  &#about-us
    background-color: rgba($light-green, .5)
  &#blog
    display: none

section#feeds
  margin-top: 30px



aside#contact-us
  h2
    margin-bottom: 15px
  h3
    font-size: 1.3em
    font-weight: 500
    margin-top: 10px
  ul
    list-style: none
    margin: 0 0 15px
    padding: 0
    li
      margin: 7px 0 0 10px
      line-height: 1em
    span
      display: block
      font-size: .6em
      font-weight: bold
      display: block
      line-height: 0.8em
      text-transform: uppercase


#locations img#globe
  width: 100%

#blog
  #blog-text 
    padding: 10px
    background-color: white
  header
    border-bottom: 1px solid $bg-color
    padding-bottom: 10px
    div.photo
      background-image: image-url('author/mikel.jpg')
      width: 70px
      height: 87px
      background-size: 70px
      float: right
    h1
      margin-top: 0
    p
      margin: 0
    .date
      color: #818181
  #blog-list
    border: none
    padding: 0
    h3
      margin-top: 0
      color: $dark-red
      font-weight: 400
      font-size: 1.4em