@import "compass"

$light-blue: #126AAE
$dark-blue: #0A3456
$light-green: #588F40
$dark-green: #245028
$light-orange: #EE9622
$dark-orange: #A15724
$light-red: #CB214F
$dark-red: #5B103B

$bg-color: #efefed
$twitter-blue: #2BA9E1

$light: 'HelveticaNeueW01-45Ligh', helvetica, sans-serif
$roman: 'HelveticaNeueW01-55Roma', helvetica, sans-serif
$medium: 'HelveticaNeueW01-65Medi', helvetica, sans-serif
$bold: 'HelveticaNeueW01-75Bold', helvetica, sans-serif
$mediumCondensed: 'HelveticaNeueW01-67MdCn 692710', helvetica, sans-serif
$boldCondensed: 'HelveticaNeueW01-77BdCn 692722', helvetica, sans-serif
$heavyCondensed: 'HelveticaNeueW01-87HvCn 692734', helvetica, sans-serif


html
  background-color: $bg-color

body
  background-color: transparent
  font-family: $roman
  background: black image-url('earth.jpg') no-repeat 50% top
  background-attachment: fixed
  &.alpha, &.beta, &.gamma
    background-image: none

=colorful-links($dark-color, $light-color)
  color: white
  background-color: #333
  background-color: rgba(0,0,0,.75)
  border-bottom: 3px solid $light-color
  text-decoration: none
  +transition(all 50ms linear)
  &:hover, &:active, &:focus, &.active
    border-bottom-width: 5px
  &.active
    background-color: $dark-color
    box-shadow: 0 0 3px $dark-color
    color: white


h1, h2, h3, h4, h5, h6
  font-family: $boldCondensed
h1, h2, h3



header#main-nav
  position: fixed
  top: 0px
  right: 20px
  z-index: 200
  nav#logo a
    background: transparent image-url('logo.png') no-repeat left 50%
    background-size: auto 50px
    height: 50px
    color: transparent
    display: none
    float: left
    width: 167px

  ul#links
    float: right
    padding: 0
    margin: 0
    font-size: 1.1em
    li
      display: inline
      &.dropdown-title
        display: none
    a
      padding: 10px 5px 5px
      margin: 0 0 0 5px
      font-weight: 200
      display: block
      float: left
      font-family: $mediumCondensed
      &.black
        +colorful-links(#333, #818181)
      &.blue
        +colorful-links($dark-blue, $light-blue)
      &.red
        +colorful-links($dark-red, $light-red)
      &.orange
        +colorful-links($dark-orange, $light-orange)
      &.green
        +colorful-links($dark-green, $light-green)


@-webkit-keyframes pulse
  0%
    font-size: 2.5em
  50% 
    font-size: 3em
  100% 
    font-size: 2.5em
  
@keyframes pulse 
  0%
    font-size: 2.5em
  50% 
    font-size: 3em
  100% 
    font-size: 2.5em


section.home-panel
  padding: 80px 0 50px
  position: relative
  min-height: 1500px
  a
    background-color: rgba(0,0,0,.5)
    color: white
    padding: 2px 2px
    text-decoration: none
  
  a.nav-arrow
    position: absolute
    bottom: 20px
    right: 20px
    width: 65px
    font-size: 2.5em
    text-align: center
    background-color: transparent !important
    animation: pulse 1s infinite
    -webkit-animation: pulse 1s infinite
    +transition(color 100ms linear)
    &.dark
      color: black
    &:hover
      animation: none
      -webkit-animation: none

    &.white:hover
      color: #818181 !important
    &.red:hover
      color: $light-red !important
    &.green:hover
      color: lighten($light-green, 20%) !important
    &.blue:hover
      color: $light-blue !important
    &.orange:hover
      color: $light-orange !important
    &.dark-orange:hover
      color: $dark-orange !important
    
  .text-block
    padding: 10px
    background-color: rgba(255,255,255,1)
    margin: 0 0 5px
    p:last-child
      margin-bottom: 0
  &#splash
    padding-top: 180px
    background-color: transparent
    #splash-logo
      width: 300px
      max-width: 100%
      margin: 0 0 5px
      background-color: white
    h1
      padding: 5px 10px 10px
      background-color: $light-red
      color: white
      font-family: $boldCondensed
      max-width: 600px
      line-height: 1.15em

  &#about-pp
    background-image: image-url('office.jpg')
    background-position: 50% 50%
    padding-top: 140px
    background-size: cover
    background-attachment: fixed
    h1
      font-family: $boldCondensed helvetica sans-serif
      font-size: 3em
      display: inline-block
    h1, div.text-block
      color: white
      background-color: $light-green
    body.s1 &
      background-attachment: scroll
    img#pp-example
      width: 100%
    img#device-icons
      float: left
      clear: left
    a
      background-color: rgba($dark-green, .75)
      &:hover
        background-color: rgba($dark-green, .5)


  &#about-real-statistics
    background-color: rgba($dark-blue, .75)
    #real-stats-logo
      max-width: 300px
      background: white
      margin-bottom: 10px
    .text-block
      background-color: $light-blue
      color: white
    img.screenshot
      width: auto
      max-width: 100%
    a
      background-color: $dark-blue
      &:hover
        background-color: darken($light-blue, 10%)
    
  &#about-rethink-training
    background-color: rgba($light-orange, 1)
    #rethink-training-logo
      max-width: 300px
      background: white
      margin-bottom: 10px
    #rethink-example
      max-width: 100%
    .text-block
      background-color: white
      color: $dark-orange
    #rethink-graphic
      max-width: 120px
    a
      background-color: $light-orange
      &:hover
        background-color: $dark-orange

  .box-section
    padding: 20px 0
    margin-bottom: 30px
    h1.text-block
      display: inline-block
      font-family: $boldCondensed helvetica sans-serif
      font-size: 2.5em
      img
        max-width: 150px
        width: auto
    img.logo
      margin: 15px 0      
    .image-container img
      width: 100%

  &#about-us
    background-color: rgba($dark-red, .75)
    color: white
    h1
      font-family: $boldCondensed helvetica sans-serif
      font-size: 4em
      margin: 0 0 10px
      text-transform: uppercase
      color: white
    img#nametag
      width: 100%
      margin-top: 30px
    .speech-bubble
      display: none
      background: transparent image-url('speech-bubble.png') no-repeat
      background-size: 100%
      height: 225px
      text-align: center
      color: white
      padding-top: 80px
      margin-top: 80px
      h2
        font-family: $boldCondensed
        font-size: 3.5em
        display: block
        margin: 0
        height: 40px
    a
      background-color: darken($light-red, 10%)
      &:hover
        background-color: $light-red
    ul a
      display: inline-block

  #contact-us
    h2
      margin-bottom: 15px
      text-transform: uppercase
    h3
      font-size: 1.3em
      font-weight: 500
      margin: 0px
    ul
      list-style: none
      margin: 0 0 15px
      padding: 0
      border-left: 5px solid $light-red
      li
        margin: 7px 0 0 10px
        line-height: 1em
      span
        display: block
        font-size: .75em
        font-weight: bold
        display: block
        line-height: 0.8em
        margin-bottom: 5px
        font-family: $bold
        text-transform: uppercase
    a
      background-color: darken($light-red, 10%)
      &:hover
        background-color: $light-red

  &#our-board
    background-color: black
    background-image: image-url('boardroom.jpg')
    background-size: cover
    background-position: 50%
    color: white
    body.s3 &, body.s4 &
      background-attachment: fixed
    h2,h3
      display: inline-block
      margin: 0 0 10px
      background-color: $dark-green
      padding: 5px
    h2
      font-size: 2.5em
    article.boardmember
      background-color: $dark-green
      width: 100%
      padding-right: 5px
      vertical-align: middle
      +clearfix
      position: relative
      margin-bottom: 10px
      min-height: 104px
      h3
        margin: 0
        padding: 3px 3px 3px 100px
      p
        font-size: .9em
        margin: 5px 0 5px 100px
        color: white
      &.full-width 
        margin-bottom: 40px
      img
        border: 2px solid $dark-green
        position: absolute
        top: 0
        width: 90px
        +border-radius(0)
        +transition(all 100ms linear)
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http:www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") /* Firefox 3.5+ */
        filter: gray /* IE6-9 */
        -webkit-filter: grayscale(100%)
      &:hover img
        filter: none
        -webkit-filter: grayscale(0%)
    a
      background-color: darken($light-green, 10%)
      &:hover
        background-color: $light-green
        

  &#locations
    background: white image-url('world-map.jpg') no-repeat 50% 20%
    background-attachment: fixed
    background-size: cover
    h1.text-block
      font-family: $boldCondensed helvetica sans-serif
      font-size: 3em
      display: inline-block
    .text-block
      color: black
      background-color: rgba(white, .85)


  &#blog
    display: none

section#feeds
  margin-top: 30px

@font-face
  font-family: 'icons'
  src: asset-url('icons.eot')
  src: asset-url('icons.eot?#iefix') format('embedded-opentype'), asset-url('icons.woff') format('woff'), asset-url('icons.ttf') format('truetype'), asset-url('icons.svg#icons') format('svg')
  font-weight: normal
  font-style: normal

[data-icon]:before
  font-family: 'icons' !important
  content: attr(data-icon)
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
